<div class="row">
    <div class="col-xs-3">
        <a ng-hide="!prev" class="btn btn-sm btn-info" ng-click="goto(prev.word)"> &lt; Prev.: <b>{{prev.word|capitalize}}</b></a>
    </div>
    <div class="col-xs-6">&nbsp;</div>
    <div class="col-xs-3">
        <a ng-hide="!next" class="btn btn-sm btn-info pull-right" ng-click="goto(next.word)">Next: <b>{{next.word|capitalize}}</b> &gt; </a>
    </div>
    <div class="col-xs-12" style="margin-top:20px;">
        <div class="heading_a"><span class="heading_text">Update Word Entry: {{word.word}}</span>
            <feedback word="{{ word.word }}"></feedback>
        </div>
    </div>
</div>

<ng-include src="'tmpls/names/partials/_form.html'"></ng-include>