<div class="panel panel-default" ng-repeat="definition in word.definitions track by $index">
    <div class="panel-heading">
        <a class="btn btn-xs btn-danger remove" ng-click="remove_definition($index)">
            <i class="fa fa-times text-right"></i>
        </a>
    </div>
    <div class="panel-body">
        <div class="row definition">
            <div class="col-sm-8">
                <label>Definition (Yoruba)</label>
                <textarea class="form-control" name="part[{{$index}}]" ng-model="definition.content" />
                <span ng-show="form.part[{{$index}}].$invalid && !form.part[{{$index}}].$pristine" class="help-block text-danger">This etymology part is required</span>
            </div>
            <div class="col-sm-4">
                <label>English equivalent</label>
                <textarea class="form-control" name="meaning[{{$index}}]" ng-model="definition.englishTranslation" />
                <span ng-show="form.meaning[{{$index}}].$invalid && !form.meaning[{{$index}}].$pristine" class="help-block text-danger">This etymology meaning is required</span>
            </div>
        </div>
        <p class="text-right help-block" ng-show="!definition.examples.length">
            <a ng-click="add_example(definition)">Add an example</a>
        </p>
        <div class="row example" ng-repeat="example in definition.examples track by $exampleIndex">
            <div class="col-sm-12">
                <h4>EXAMPLE</h4>
            </div>
            <div class="col-sm-6">
                <label for="yoruba-example">In Yoruba</label>
                <textarea id="yoruba-example" cols="10" rows="3" class="form-control" ng-model="example.content" required></textarea>
            </div>
            <div class="col-sm-4">
                <label for="english-example">English equivalent</label>
                <textarea id="english-example" cols="10" rows="3" class="form-control" ng-model="example.englishTranslation" required></textarea>
            </div>
            <div class="col-sm-2">
                <label for="example-type">Type</label>
                <select ng-model="example.type" id="example-type" class="form-control">
                    <option value="" selected="selected" disabled="disabled">-Type-</option>
                    <option value="intransitive">Aphorism/Proverb</option>
                </select>
            </div>
            <a class="btn btn-xs btn-danger remove" ng-click="remove_example(definition, $exampleIndex)">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
</div>