<div class="col-xs-12">
  <div ng-show="!!word.variants.length">
    <div class="col-sm-7">
      <label for="media-link" class="required">Word</label>
    </div>
    <div class="col-sm-4"><label for="caption">Geolocation</label></div>
  </div>

  <div class="row" ng-repeat="variant in word.variants track by $index">
    <div class="col-sm-7">
      <div class="form-group form-float">
        <div class="form-line">
          <input
            placeholder="Word"
            type="text"
            id="word"
            class="form-control"
            ng-model="variant.word"
            required
            keyboard
          />
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group form-float">
        <div class="form-line">
          <select
            ng-model="variant.geoLocation"
            ng-options="geo.place for geo in geolocationList"
            class="form-control"
            required
          >
            <option value="" selected="selected" disabled="disabled"
              >- GEO -</option
            >
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-xs btn-danger remove" ng-click="remove_variant($index)">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
</div>
